.back-1 {
    background-image: url('http://memory-game.task/assets/images/background/01.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/01.jpg');
    }
}
.back-2 {
    background-image: url('http://memory-game.task/assets/images/background/02.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/02.jpg');
    }
}
.back-3 {
    background-image: url('http://memory-game.task/assets/images/background/03.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/03.jpg');
    }
}
.back-4 {
    background-image: url('http://memory-game.task/assets/images/background/04.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/04.jpg');
    }
}
.back-5 {
    background-image: url('http://memory-game.task/assets/images/background/05.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/05.jpg');
    }
}
.back-6 {
    background-image: url('http://memory-game.task/assets/images/background/06.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/06.jpg');
    }
}
.back-7 {
    background-image: url('http://memory-game.task/assets/images/background/07.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/07.jpg');
    }
}
.back-8 {
    background-image: url('http://memory-game.task/assets/images/background/08.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/08.jpg');
    }
}
.back-9 {
    background-image: url('http://memory-game.task/assets/images/background/09.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/09.jpg');
    }
}
.back-10 {
    background-image: url('http://memory-game.task/assets/images/background/10.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/10.jpg');
    }
}
.back-11 {
    background-image: url('http://memory-game.task/assets/images/background/11.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/11.jpg');
    }
}
.back-12 {
    background-image: url('http://memory-game.task/assets/images/background/12.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/12.jpg');
    }
}
.back-13 {
    background-image: url('http://memory-game.task/assets/images/background/13.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/13.jpg');
    }
}
.back-14 {
    background-image: url('http://memory-game.task/assets/images/background/14.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/14.jpg');
    }
}
.back-15 {
    background-image: url('http://memory-game.task/assets/images/background/15.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/15.jpg');
    }
}
.back-16 {
    background-image: url('http://memory-game.task/assets/images/background/16.jpg');
    &:after {
        background-image: url('http://memory-game.task/assets/images/background/16.jpg');
    }
}

.card-1 {
    background-image: url('http://memory-game.task/assets/images/cards/001.png');
}
.card-2 {
    background-image: url('http://memory-game.task/assets/images/cards/002.png');
}
.card-3 {
    background-image: url('http://memory-game.task/assets/images/cards/003.png');
}
.card-4 {
    background-image: url('http://memory-game.task/assets/images/cards/004.png');
}