body {
  font-family: PTSans, Calibri, Ubuntu, Tahoma, LucidaGrande;
}

body .alert {
  border-radius: 2px;
}

body .alert.alert-light {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

body .btn {
  border-radius: 2px;
}

body .btn.btn-outline-light {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
}

body .form-control {
  border-radius: 2px;
}

#app {
  min-height: 100vh;
  width: 100%;
}

#app .form {
  max-width: 400px;
  margin: 40px auto;
}

#app .form button {
  width: 100%;
}

#app .wrapper {
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 90px 0 20px;
  width: 100%;
}

#app .wrapper .content {
  max-width: 900px;
  margin: 0 auto;
}

#top-menu {
  border-bottom: 1px solid #ffffff;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 5;
  left: 0;
  top: 0;
}

#top-menu h3 {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  margin: 13px 0 0 40px;
}

#top-menu .logout {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

#playing-field {
  margin: 20px 0 40px;
  display: block;
  width: 100%;
}

#playing-field .row {
  text-align: center;
  display: block;
  width: 100%;
  margin: 0;
}

#playing-field .row .cell {
  display: inline-block;
  vertical-align: top;
  max-width: 150px;
  padding: 10px;
  width: 33.33%;
  height: 200px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#playing-field .row .cell .item {
  background-color: transparent;
  border: 1px solid #ffffff;
  position: relative;
  cursor: pointer;
  display: none;
  padding: 10px;
  height: 100%;
  width: 100%;
  z-index: 2;
  border-radius: 2px;
}

#playing-field .row .cell.active .item {
  display: block;
}

#playing-field .row .cell.active .item:after {
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  z-index: 1;
  left: 0;
  top: 0;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}

#playing-field .row .cell.active .item:before {
  background: #ffffff;
  position: absolute;
  height: 100%;
  opacity: .5;
  width: 100%;
  content: "";
  z-index: 2;
  left: 0;
  top: 0;
  transition: opacity 0.5s ease-out;
}

#playing-field .row .cell.active .item:hover:before {
  opacity: .3;
}

#playing-field .row .cell.active .item .card {
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  background-size: contain;
  display: none;
  border: none;
  height: 100%;
  width: 100%;
  z-index: 3;
}

#playing-field .row .cell.open .item {
  background: #ffffff;
}

#playing-field .row .cell.open .item:after {
  display: none;
}

#playing-field .row .cell.open .item:before {
  display: none;
}

#playing-field .row .cell.open .item .card {
  display: block;
}

.back-1 {
  background-image: url("http://memory-game.task/assets/images/background/01.jpg");
}

.back-1:after {
  background-image: url("http://memory-game.task/assets/images/background/01.jpg");
}

.back-2 {
  background-image: url("http://memory-game.task/assets/images/background/02.jpg");
}

.back-2:after {
  background-image: url("http://memory-game.task/assets/images/background/02.jpg");
}

.back-3 {
  background-image: url("http://memory-game.task/assets/images/background/03.jpg");
}

.back-3:after {
  background-image: url("http://memory-game.task/assets/images/background/03.jpg");
}

.back-4 {
  background-image: url("http://memory-game.task/assets/images/background/04.jpg");
}

.back-4:after {
  background-image: url("http://memory-game.task/assets/images/background/04.jpg");
}

.back-5 {
  background-image: url("http://memory-game.task/assets/images/background/05.jpg");
}

.back-5:after {
  background-image: url("http://memory-game.task/assets/images/background/05.jpg");
}

.back-6 {
  background-image: url("http://memory-game.task/assets/images/background/06.jpg");
}

.back-6:after {
  background-image: url("http://memory-game.task/assets/images/background/06.jpg");
}

.back-7 {
  background-image: url("http://memory-game.task/assets/images/background/07.jpg");
}

.back-7:after {
  background-image: url("http://memory-game.task/assets/images/background/07.jpg");
}

.back-8 {
  background-image: url("http://memory-game.task/assets/images/background/08.jpg");
}

.back-8:after {
  background-image: url("http://memory-game.task/assets/images/background/08.jpg");
}

.back-9 {
  background-image: url("http://memory-game.task/assets/images/background/09.jpg");
}

.back-9:after {
  background-image: url("http://memory-game.task/assets/images/background/09.jpg");
}

.back-10 {
  background-image: url("http://memory-game.task/assets/images/background/10.jpg");
}

.back-10:after {
  background-image: url("http://memory-game.task/assets/images/background/10.jpg");
}

.back-11 {
  background-image: url("http://memory-game.task/assets/images/background/11.jpg");
}

.back-11:after {
  background-image: url("http://memory-game.task/assets/images/background/11.jpg");
}

.back-12 {
  background-image: url("http://memory-game.task/assets/images/background/12.jpg");
}

.back-12:after {
  background-image: url("http://memory-game.task/assets/images/background/12.jpg");
}

.back-13 {
  background-image: url("http://memory-game.task/assets/images/background/13.jpg");
}

.back-13:after {
  background-image: url("http://memory-game.task/assets/images/background/13.jpg");
}

.back-14 {
  background-image: url("http://memory-game.task/assets/images/background/14.jpg");
}

.back-14:after {
  background-image: url("http://memory-game.task/assets/images/background/14.jpg");
}

.back-15 {
  background-image: url("http://memory-game.task/assets/images/background/15.jpg");
}

.back-15:after {
  background-image: url("http://memory-game.task/assets/images/background/15.jpg");
}

.back-16 {
  background-image: url("http://memory-game.task/assets/images/background/16.jpg");
}

.back-16:after {
  background-image: url("http://memory-game.task/assets/images/background/16.jpg");
}

.card-1 {
  background-image: url("http://memory-game.task/assets/images/cards/001.png");
}

.card-2 {
  background-image: url("http://memory-game.task/assets/images/cards/002.png");
}

.card-3 {
  background-image: url("http://memory-game.task/assets/images/cards/003.png");
}

.card-4 {
  background-image: url("http://memory-game.task/assets/images/cards/004.png");
}

.card-5 {
  background-image: url("http://memory-game.task/assets/images/cards/005.png");
}

.card-6 {
  background-image: url("http://memory-game.task/assets/images/cards/006.png");
}

.card-7 {
  background-image: url("http://memory-game.task/assets/images/cards/007.png");
}

.card-8 {
  background-image: url("http://memory-game.task/assets/images/cards/008.png");
}

.card-9 {
  background-image: url("http://memory-game.task/assets/images/cards/009.png");
}

.card-10 {
  background-image: url("http://memory-game.task/assets/images/cards/010.png");
}

.card-11 {
  background-image: url("http://memory-game.task/assets/images/cards/011.png");
}

.card-12 {
  background-image: url("http://memory-game.task/assets/images/cards/012.png");
}

.card-13 {
  background-image: url("http://memory-game.task/assets/images/cards/013.png");
}

.card-14 {
  background-image: url("http://memory-game.task/assets/images/cards/014.png");
}

.card-15 {
  background-image: url("http://memory-game.task/assets/images/cards/015.png");
}

.card-16 {
  background-image: url("http://memory-game.task/assets/images/cards/016.png");
}

.card-17 {
  background-image: url("http://memory-game.task/assets/images/cards/017.png");
}

.card-18 {
  background-image: url("http://memory-game.task/assets/images/cards/018.png");
}

.card-19 {
  background-image: url("http://memory-game.task/assets/images/cards/019.png");
}

.card-20 {
  background-image: url("http://memory-game.task/assets/images/cards/020.png");
}

.card-21 {
  background-image: url("http://memory-game.task/assets/images/cards/021.png");
}

.card-22 {
  background-image: url("http://memory-game.task/assets/images/cards/022.png");
}

.card-23 {
  background-image: url("http://memory-game.task/assets/images/cards/023.png");
}

.card-24 {
  background-image: url("http://memory-game.task/assets/images/cards/024.png");
}

.card-25 {
  background-image: url("http://memory-game.task/assets/images/cards/025.png");
}

.card-26 {
  background-image: url("http://memory-game.task/assets/images/cards/026.png");
}

.card-27 {
  background-image: url("http://memory-game.task/assets/images/cards/027.png");
}

.card-28 {
  background-image: url("http://memory-game.task/assets/images/cards/028.png");
}

.card-29 {
  background-image: url("http://memory-game.task/assets/images/cards/029.png");
}

.card-30 {
  background-image: url("http://memory-game.task/assets/images/cards/030.png");
}

.card-31 {
  background-image: url("http://memory-game.task/assets/images/cards/031.png");
}

.card-32 {
  background-image: url("http://memory-game.task/assets/images/cards/032.png");
}

.card-33 {
  background-image: url("http://memory-game.task/assets/images/cards/033.png");
}

.card-34 {
  background-image: url("http://memory-game.task/assets/images/cards/034.png");
}

.card-35 {
  background-image: url("http://memory-game.task/assets/images/cards/035.png");
}

.card-36 {
  background-image: url("http://memory-game.task/assets/images/cards/036.png");
}

.card-37 {
  background-image: url("http://memory-game.task/assets/images/cards/037.png");
}

.card-38 {
  background-image: url("http://memory-game.task/assets/images/cards/038.png");
}

.card-39 {
  background-image: url("http://memory-game.task/assets/images/cards/039.png");
}

.card-40 {
  background-image: url("http://memory-game.task/assets/images/cards/040.png");
}

.card-41 {
  background-image: url("http://memory-game.task/assets/images/cards/041.png");
}

.card-42 {
  background-image: url("http://memory-game.task/assets/images/cards/042.png");
}

.card-43 {
  background-image: url("http://memory-game.task/assets/images/cards/043.png");
}

.card-44 {
  background-image: url("http://memory-game.task/assets/images/cards/044.png");
}

.card-45 {
  background-image: url("http://memory-game.task/assets/images/cards/045.png");
}

.card-46 {
  background-image: url("http://memory-game.task/assets/images/cards/046.png");
}

.card-47 {
  background-image: url("http://memory-game.task/assets/images/cards/047.png");
}

.card-48 {
  background-image: url("http://memory-game.task/assets/images/cards/048.png");
}

.card-49 {
  background-image: url("http://memory-game.task/assets/images/cards/049.png");
}

.card-50 {
  background-image: url("http://memory-game.task/assets/images/cards/050.png");
}

.card-51 {
  background-image: url("http://memory-game.task/assets/images/cards/051.png");
}

.card-52 {
  background-image: url("http://memory-game.task/assets/images/cards/052.png");
}

.card-53 {
  background-image: url("http://memory-game.task/assets/images/cards/053.png");
}

.card-54 {
  background-image: url("http://memory-game.task/assets/images/cards/054.png");
}

.card-55 {
  background-image: url("http://memory-game.task/assets/images/cards/055.png");
}

.card-56 {
  background-image: url("http://memory-game.task/assets/images/cards/056.png");
}

.card-57 {
  background-image: url("http://memory-game.task/assets/images/cards/057.png");
}

.card-58 {
  background-image: url("http://memory-game.task/assets/images/cards/058.png");
}

.card-59 {
  background-image: url("http://memory-game.task/assets/images/cards/059.png");
}

.card-60 {
  background-image: url("http://memory-game.task/assets/images/cards/060.png");
}

.card-61 {
  background-image: url("http://memory-game.task/assets/images/cards/061.png");
}

.card-62 {
  background-image: url("http://memory-game.task/assets/images/cards/062.png");
}

.card-63 {
  background-image: url("http://memory-game.task/assets/images/cards/063.png");
}

.card-64 {
  background-image: url("http://memory-game.task/assets/images/cards/064.png");
}

.card-65 {
  background-image: url("http://memory-game.task/assets/images/cards/065.png");
}

.card-66 {
  background-image: url("http://memory-game.task/assets/images/cards/066.png");
}

.card-67 {
  background-image: url("http://memory-game.task/assets/images/cards/067.png");
}

.card-68 {
  background-image: url("http://memory-game.task/assets/images/cards/068.png");
}

.card-69 {
  background-image: url("http://memory-game.task/assets/images/cards/069.png");
}

.card-70 {
  background-image: url("http://memory-game.task/assets/images/cards/070.png");
}

.card-71 {
  background-image: url("http://memory-game.task/assets/images/cards/071.png");
}

.card-72 {
  background-image: url("http://memory-game.task/assets/images/cards/072.png");
}

.card-73 {
  background-image: url("http://memory-game.task/assets/images/cards/073.png");
}

.card-74 {
  background-image: url("http://memory-game.task/assets/images/cards/074.png");
}

.card-75 {
  background-image: url("http://memory-game.task/assets/images/cards/075.png");
}

.card-76 {
  background-image: url("http://memory-game.task/assets/images/cards/076.png");
}

.card-77 {
  background-image: url("http://memory-game.task/assets/images/cards/077.png");
}

.card-78 {
  background-image: url("http://memory-game.task/assets/images/cards/078.png");
}

.card-79 {
  background-image: url("http://memory-game.task/assets/images/cards/079.png");
}

.card-80 {
  background-image: url("http://memory-game.task/assets/images/cards/080.png");
}

.card-81 {
  background-image: url("http://memory-game.task/assets/images/cards/081.png");
}

.card-82 {
  background-image: url("http://memory-game.task/assets/images/cards/082.png");
}

.card-83 {
  background-image: url("http://memory-game.task/assets/images/cards/083.png");
}

.card-84 {
  background-image: url("http://memory-game.task/assets/images/cards/084.png");
}

.card-85 {
  background-image: url("http://memory-game.task/assets/images/cards/085.png");
}

.card-86 {
  background-image: url("http://memory-game.task/assets/images/cards/086.png");
}

.card-87 {
  background-image: url("http://memory-game.task/assets/images/cards/087.png");
}

.card-88 {
  background-image: url("http://memory-game.task/assets/images/cards/088.png");
}

.card-89 {
  background-image: url("http://memory-game.task/assets/images/cards/089.png");
}

.card-90 {
  background-image: url("http://memory-game.task/assets/images/cards/090.png");
}

.card-91 {
  background-image: url("http://memory-game.task/assets/images/cards/091.png");
}

.card-92 {
  background-image: url("http://memory-game.task/assets/images/cards/092.png");
}

.card-93 {
  background-image: url("http://memory-game.task/assets/images/cards/093.png");
}

.card-94 {
  background-image: url("http://memory-game.task/assets/images/cards/094.png");
}

.card-95 {
  background-image: url("http://memory-game.task/assets/images/cards/095.png");
}

.card-96 {
  background-image: url("http://memory-game.task/assets/images/cards/096.png");
}

.card-97 {
  background-image: url("http://memory-game.task/assets/images/cards/097.png");
}

.card-98 {
  background-image: url("http://memory-game.task/assets/images/cards/098.png");
}

.card-99 {
  background-image: url("http://memory-game.task/assets/images/cards/099.png");
}

.card-100 {
  background-image: url("http://memory-game.task/assets/images/cards/100.png");
}

.card-101 {
  background-image: url("http://memory-game.task/assets/images/cards/101.png");
}

.card-102 {
  background-image: url("http://memory-game.task/assets/images/cards/102.png");
}

.card-103 {
  background-image: url("http://memory-game.task/assets/images/cards/103.png");
}

.card-104 {
  background-image: url("http://memory-game.task/assets/images/cards/104.png");
}

.card-105 {
  background-image: url("http://memory-game.task/assets/images/cards/105.png");
}

.card-106 {
  background-image: url("http://memory-game.task/assets/images/cards/106.png");
}

.card-107 {
  background-image: url("http://memory-game.task/assets/images/cards/107.png");
}

.card-108 {
  background-image: url("http://memory-game.task/assets/images/cards/108.png");
}

.card-109 {
  background-image: url("http://memory-game.task/assets/images/cards/109.png");
}

.card-110 {
  background-image: url("http://memory-game.task/assets/images/cards/110.png");
}

.card-111 {
  background-image: url("http://memory-game.task/assets/images/cards/111.png");
}

.card-112 {
  background-image: url("http://memory-game.task/assets/images/cards/112.png");
}

.card-113 {
  background-image: url("http://memory-game.task/assets/images/cards/113.png");
}

.card-114 {
  background-image: url("http://memory-game.task/assets/images/cards/114.png");
}

.card-115 {
  background-image: url("http://memory-game.task/assets/images/cards/115.png");
}

.card-116 {
  background-image: url("http://memory-game.task/assets/images/cards/116.png");
}

.card-117 {
  background-image: url("http://memory-game.task/assets/images/cards/117.png");
}

.card-118 {
  background-image: url("http://memory-game.task/assets/images/cards/118.png");
}

.card-119 {
  background-image: url("http://memory-game.task/assets/images/cards/119.png");
}

.card-120 {
  background-image: url("http://memory-game.task/assets/images/cards/120.png");
}

.card-121 {
  background-image: url("http://memory-game.task/assets/images/cards/121.png");
}

.card-122 {
  background-image: url("http://memory-game.task/assets/images/cards/122.png");
}

.card-123 {
  background-image: url("http://memory-game.task/assets/images/cards/123.png");
}

.card-124 {
  background-image: url("http://memory-game.task/assets/images/cards/124.png");
}

.card-125 {
  background-image: url("http://memory-game.task/assets/images/cards/125.png");
}

.card-126 {
  background-image: url("http://memory-game.task/assets/images/cards/126.png");
}

.card-127 {
  background-image: url("http://memory-game.task/assets/images/cards/127.png");
}

.card-128 {
  background-image: url("http://memory-game.task/assets/images/cards/128.png");
}
